[submodule "external/modules/x264"]
	path = external/modules/x264
	url = http://git.videolan.org/git/x264.git
[submodule "external/modules/opencore-amr"]
	path = external/modules/opencore-amr
	url = git://git.code.sf.net/p/opencore-amr/code
[submodule "external/modules/ffmpeg"]
	path = external/modules/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
